
*.ch1
Presets/Autosave_1.hip
Presets/Autosave_2.hip
Presets/Autosave_3.hip
Presets/Autosave_4.hip
Presets/Autosave_5.hip
Xolotl_1_0_0_Samples.hr1
Xolotl_0_0_1_Samples.hr1
Presets/Autosave_5.hip
Presets/Autosave_4.hip
Presets/Autosave_3.hip
Presets/Autosave_2.hip
Presets/Autosave_1.hip
Presets/Autosave_1.hip
Presets/Autosave_5.hip
Presets/Autosave_4.hip
Presets/Autosave_3.hip
Presets/Autosave_2.hip
Presets/Autosave_1.hip
Presets/Autosave_5.hip
Presets/Autosave_4.hip
Presets/Autosave_3.hip
Presets/Autosave_2.hip
Presets/Autosave_1.hip
*.hr1
*.wav
*.sfz
Samples/FreePatsGM-SFZ-20221026/readme.txt
Samples/FreePatsGM-SFZ-20221026/gpl.txt
Samples/FreePatsGM-SFZ-20221026/cc0.txt
SampleMaps/129_Percussion.xml
SampleMaps/127_Applause.xml
SampleMaps/109_Kalimba.xml
SampleMaps/104_SynthSciFi.xml
SampleMaps/102_SynthGoblins.xml
SampleMaps/099_SynthCrystal.xml
SampleMaps/098_SynthSoundtrack.xml
SampleMaps/096_SynthPadSweep.xml
SampleMaps/093_SynthPadBowed.xml
SampleMaps/092_SynthPadChoir.xml
SampleMaps/089_SynthNewAge.xml
SampleMaps/088_SynthBassLead.xml
SampleMaps/087_SynthFifths.xml
SampleMaps/083_SynthCalliope.xml
SampleMaps/081_SynthSquare.xml
SampleMaps/080_Ocarina.xml
SampleMaps/075_Recorder.xml
SampleMaps/072_Clarinet.xml
SampleMaps/067_TenorSaxophone.xml
SampleMaps/064_SynthBrass2.xml
SampleMaps/063_SynthBrass1.xml
SampleMaps/052_SynthStrings2.xml
SampleMaps/051_SynthStrings1.xml
SampleMaps/048_Timpani.xml
SampleMaps/047_OrchestralHarp.xml
SampleMaps/040_SynthBass2.xml
SampleMaps/039_SynthBass1.xml
SampleMaps/034_ElectricBassFinger.xml
SampleMaps/031_DistortionGuitar.xml
SampleMaps/029_ElectricGuitarMuted.xml
SampleMaps/028_ElectricGuitarClean.xml
SampleMaps/027_ElectricGuitarJazz.xml
SampleMaps/026_GuitarSteel.xml
SampleMaps/025_GuitarNylon.xml
SampleMaps/020_ChurchOrgan.xml
SampleMaps/019_RockOrgan.xml
SampleMaps/018_PercussiveOrgan.xml
SampleMaps/017_DrawbarOrgan.xml
SampleMaps/015_TubularBells.xml
SampleMaps/014_Xylophone.xml
SampleMaps/006_ElectricPiano2.xml
SampleMaps/005_ElectricPiano1.xml
SampleMaps/004_HonkyTonkPiano.xml
SampleMaps/002_BrightPiano.xml
SampleMaps/001_Piano.xml
*.hr2
*.hr3
*.hr4
*.dat
*.zip
