
*.ch1
*.DS_Store
Presets/Autosave_1.hip
Presets/Autosave_2.hip
Presets/Autosave_3.hip
Presets/Autosave_4.hip
Presets/Autosave_5.hip
Xolotl_1_0_0_Samples.hr1
Xolotl_0_0_1_Samples.hr1
Presets/Autosave_5.hip
Presets/Autosave_4.hip
Presets/Autosave_3.hip
Presets/Autosave_2.hip
Presets/Autosave_1.hip
Presets/Autosave_1.hip
Presets/Autosave_5.hip
Presets/Autosave_4.hip
Presets/Autosave_3.hip
Presets/Autosave_2.hip
Presets/Autosave_1.hip
Presets/Autosave_5.hip
Presets/Autosave_4.hip
Presets/Autosave_3.hip
Presets/Autosave_2.hip
Presets/Autosave_1.hip
*.hr1
*.wav
*.sfz
Samples/FreePatsGM-SFZ-20221026/readme.txt
Samples/FreePatsGM-SFZ-20221026/gpl.txt
Samples/FreePatsGM-SFZ-20221026/cc0.txt
*.hr2
*.hr3
*.hr4
*.dat
*.zip
Samples.zip.001
Samples.zip.002
Samples.zip.003
Samples.zip.004
Samples.zip.005
Samples.zip.006
Samples.zip.007
Samples.zip.008
*.hr5
*.dylib
.DS_Store
/Xolotl/DspNetworks/Binaries
